#uncontrolled-tab-example-tab-orders{
    color: black;
    font-weight: 600;
}
#uncontrolled-tab-example-tab-posts{
    color: black;
    font-weight: 600;
}


._1JNzvBgvzSnX27gUBKqqmJ.Zvl1svdkcyUlRhf5RHGKc {
    box-shadow: inset 0 -2px 0 0 var(--newCommunityTheme-button);
    color: var(--newCommunityTheme-button);
}
._1JNzvBgvzSnX27gUBKqqmJ {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    align-items: center;
    color: var(--newCommunityTheme-navIcon);
    cursor: pointer;
    display: flex;
    height: 100%;
    margin: 0 5px;
    padding: 0 8px;
}